@import-normalize;
/* bring in normalize.css styles */

:root {
  --accent-color: #759242;
  --dark-color: #212517;
  --second-color: #374709;
  --white-color: #F2F2EF;
  --light-color: #DED3A6;
}

body {
  margin: 0;
  background-color: var(--light-color);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}